<form action="{{ path('game_shoot') }}" method="POST">
    Shoot at field (e.g. A5)
    <input id="input" type="text" size="8px" name="field" value="">
    <input type="submit" value="Shoot">
</form>
